<div class="page-container cgt-finance">
    <div class="container">
        <h2 class="page-title">Purchase Order Tracker</h2>
        <div class="content-area align-center">
            <div class="tracker">
                <div class="tracker-btn">
                    <form>
                        <input class="input-style" type="text" [(ngModel)]="inputPurchaseOrderNumber" placeholder="Enter PO Number" name="PO Number">
                        <button type="submit" [disabled]="inputPurchaseOrderNumber == ''" (click)="getPurchaseOrderTrackingDetails(inputPurchaseOrderNumber);" class="btn btn-normal">Track</button>
                    </form>
                </div>
                
                <div class="tracker-wrapper">
                    <div class="po-details block-field">
                        <div class="v-list">
                            <span class="label-field">PO Number</span>
                            <span class="value-field highlight">{{this.poTrackingDetails.PurchaseOrderNumber}}</span>
                        </div>
                        <div class="v-list">
                            <span class="label-field">PO Date</span>
                            <span class="value-field">{{this.poTrackingDetails.PurchaseOrders.purchaseOrderDate | date:"short" }}</span>
                        </div>
                        <!-- <div class="v-list">
                            <span class="label-field">Product List</span>
                            <span *ngFor="let item of this.poTrackingDetails.PurchaseOrders.materialList">{{item.productName}}</span>
                        </div> -->
                        <div class="v-list">
                            <span class="label-field">Vendor Name</span>
                            <span class="value-field">{{this.poTrackingDetails.PurchaseOrders.supplierName}}</span>
                        </div>
                        <div class="v-list">
                            <span class="label-field">Vendor Address</span>
                            <span class="value-field">{{this.poTrackingDetails.PurchaseOrders.supplierContactPersonAddress}}</span>
                        </div>
                        <div class="v-list">
                            <span class="label-field">Material Details</span>
                            <span class="value-field" *ngFor="let item of this.poTrackingDetails.VendorSalesOrder.materialList; let i = index" [attr.data-index]="i">
                                {{item.productName}}
                            </span>
                        </div>
                    </div>
                    <div class="po-tracker timeline-wrapper">
                        <ul>
                            <li class="{{this.poTrackingDetails.PurchaseOrders.purchaseOrderNumber.length >0 ? 'finished' : ''}}">
                                <div class="left-block">
                                    <h6 class="event-title">Purchase order created</h6>
                                    <span class="event-time">Purchase Order Number: <span>{{this.poTrackingDetails.PurchaseOrders.purchaseOrderNumber}}</span></span>                                   
                                    <span class="event-time">Created on: <span>{{this.poTrackingDetails.PurchaseOrders.purchaseOrderDate | date:"short" }}</span></span>
                                    <span class="event-time">Order Amount: <span>{{this.poTrackingDetails.PurchaseOrders.totalOrderAmount}}</span></span>
                                    <span class="event-party">Procurement Team</span>
                                </div>
                                <div class="right-block">
                                </div>
                                <div class="marker"></div>
                            </li>
                            <li class="{{this.poTrackingDetails.VendorSalesOrder.salesOrderNumber.length >0 ? 'finished' : ''}}">
                                <div class="left-block">
                                    
                                </div>
                                <div class="right-block">
                                    <h6 class="event-title">Sales Order</h6>
                                    <span class="event-time">Sales Order Number: <span>{{this.poTrackingDetails.VendorSalesOrder.salesOrderNumber}}</span></span>
                                    <span class="event-time">Sales Order Date: <span>{{this.poTrackingDetails.VendorSalesOrder.statusUpdatedOn  | date:"short" }}</span></span>
                                    <span class="event-time">Supplier Code: <span>{{this.poTrackingDetails.VendorSalesOrder.supplierCode}}</span></span>
                                    <span class="event-party">Vendor Company</span>
                                </div>
                                <div class="marker"></div>
                            </li>
                            <li class="{{this.poTrackingDetails.GoodsIssue.goodsIssueNumber.length >0 ? 'finished' : ''}}">
                                <div class="left-block">
                                    <h6 class="event-title">Goods Issue</h6>
                                    <span class="event-time">Goods Issue Number <span>{{this.poTrackingDetails.GoodsIssue.goodsIssueNumber}}</span></span>
                                    <span class="event-time">Goods Issue Date: <span>{{this.poTrackingDetails.GoodsIssue.goodsIssueDate | date:"short" }}</span></span>
                                    <span class="event-party">Vendor Company</span>
                                </div>
                                <div class="right-block">
                                </div>
                                <div class="marker"></div>
                            </li>
                            <li class="{{this.poTrackingDetails.LogisticTransaction && this.poTrackingDetails.LogisticTransaction.consignmentNumber && this.poTrackingDetails.LogisticTransaction.consignmentNumber.length >0 ? 'finished' : ''}}">
                                <div class="left-block">
                            
                                </div>
                                <div class="right-block">
                                    <h6 class="event-title">Shipping Details</h6>
                                    <span class="event-time">Consignment Number:
                                        <span>{{this.poTrackingDetails.LogisticTransaction.consignmentNumber}}</span>
                                    </span>
                                    <span class="event-time">Pickup Date:
                                        <span>{{this.poTrackingDetails.LogisticTransaction.pickedupDatetime | date:"short" }}</span>
                                    </span>
                                    <span class="event-time">Expected Delivery Date:
                                        <span>{{this.poTrackingDetails.LogisticTransaction.expectedDeliveryDatetime | date:"short" }}</span>
                                    </span>
                                    <span class="event-time">Actual Delivery Date:
                                        <span>{{this.poTrackingDetails.LogisticTransaction.actualDeliveryDatetime | date:"short" }}</span>
                                    </span>
                                    <span class="event-time">Hazardous Material:
                                        <span>{{this.poTrackingDetails.LogisticTransaction.hazardousMaterial}}</span>
                                    </span>
                                    <span class="event-time">Status:
                                        <span>{{this.poTrackingDetails.LogisticTransaction.status}}</span>
                                    </span>
                                    <span class="event-party">Logistic Company</span>
                                </div>
                                <div class="marker"></div>
                            </li>
                            <li class="{{this.poTrackingDetails.VendorInvoices && this.poTrackingDetails.VendorInvoices.invoiceNumber && this.poTrackingDetails.VendorInvoices.invoiceNumber.length >0 ? 'finished' : ''}}">
                                <div class="left-block">
                                    <h6 class="event-title">Vendor - Invoice</h6>
                                    <span class="event-time">Invoice Number: <span>{{this.poTrackingDetails.VendorInvoices.invoiceNumber}}</span></span>
                                    <span class="event-time">Invoice Date: <span>{{this.poTrackingDetails.VendorInvoices.invoiceDate | date:"short" }}</span></span>
                                    <span class="event-time">Blockchain publish date: <span>{{this.poTrackingDetails.VendorInvoices.invoicePublishDate | date:"short" }}</span></span>
                                    <span class="event-time">Bill-to-Party: <span>{{this.poTrackingDetails.VendorInvoices.invoicePartyId}}</span></span>
                                    <!-- <span class="event-time">Invoice Party Address: {{this.poTrackingDetails.VendorInvoices.invoicePartyAddress}}</span> -->
                                    <span class="event-party">Vendor Invoice issuer Department</span>
                                </div>
                                <div class="right-block">
                                </div>
                                <div class="marker"></div>
                            </li>
                            <li class="{{this.poTrackingDetails.GoodsReceipts && this.poTrackingDetails.GoodsReceipts.goodsReceiptNumber && this.poTrackingDetails.GoodsReceipts.goodsReceiptNumber.length >0 ? 'finished' : ''}}">
                                <div class="left-block">
                                    
                                </div>
                                <div class="right-block">
                                    <h6 class="event-title">Goods receipts</h6>                                     
                                    <span class="event-error" *ngIf="this.poTrackingDetails.LogisticTransaction && this.poTrackingDetails.LogisticTransaction.consignmentNumber && this.poTrackingDetails.LogisticTransaction.consignmentNumber.length > 0 && !this.poTrackingDetails.GoodsReceipts.goodsReceiptNumber">Goods Receipt pending - Delivered on {{this.poTrackingDetails.LogisticTransaction.actualDeliveryDatetime | date:"short" }}</span>
                                    <span class="event-time">Goods receipt Number: {{this.poTrackingDetails.GoodsReceipts.goodsReceiptNumber}}</span>
                                    <span class="event-time">Goods received on: {{this.poTrackingDetails.GoodsReceipts.goodsReceiptDate | date:"short"}}</span>
                                    <span class="event-party">Procurement Team</span>
                                </div>
                                <div class="marker"></div>
                            </li>
                            <li class="{{this.poTrackingDetails.FinanceInvoices.invoiceNumber.length >0 ? 'finished' : ''}}">
                                <div class="left-block">
                                    <h6 class="event-title">Invoice Processing</h6>
                                    <span class="event-time">Invoice received Number: {{this.poTrackingDetails.FinanceInvoices.invoiceNumber}}</span>
                                    <span class="event-time">Invoice Date: {{this.poTrackingDetails.FinanceInvoices.invoiceDate | date:"short" }}</span>
                                    <span class="event-time">Status: {{this.poTrackingDetails.FinanceInvoices.currentStatus }}</span>
                                    <span class="event-party">Finance</span>
                                </div>
                                <div class="right-block">
                                </div>
                                <div class="marker"></div>
                            </li>
                            <li class="{{this.poTrackingDetails.PaymentDetails.paymentProposalNumber.length >0 ? 'finished' : ''}}">
                                <div class="left-block">
                                    
                                </div>
                                <div class="right-block">
                                    <h6 class="event-title">Payment Details</h6>
                                    <span class="event-time">Payment Proposal Number: <span>{{this.poTrackingDetails.PaymentDetails.paymentProposalNumber}}</span></span>
                                    <span class="event-time">Payment proposal Sent on:  <span>{{this.poTrackingDetails.PaymentDetails.paymentProposalDate | date:"short" }}</span></span>
                                    <span class="event-time">Payment Status: <span>{{this.poTrackingDetails.PaymentDetails.proposalDetails[0].status}}</span></span>
                                    <span class="event-party">Finance</span>
                                </div>
                                <div class="marker"></div>
                            </li>
                            <li class="{{this.poTrackingDetails.PaymentDetails.proposalDetails[0].status == 'Paid' ? 'finished' : ''}}">
                                <div class="left-block">
                                    <h6 class="event-title">Bank Processing</h6>
                                    <span class="event-time">Bank processing Date: {{this.poTrackingDetails.PaymentDetails.proposalDetails[0].bankProcessingDate == "null" ? "Not Available" : this.poTrackingDetails.PaymentDetails.proposalDetails[0].bankProcessingDate | date:"short"}}</span>
                                    <span class="event-party">Bank</span>
                                </div>
                                <div class="right-block">
                                </div>
                                <div class="marker"></div>
                            </li>
                            <!-- <li>
                                <div class="left-block">
                                    
                                </div>
                                <div class="right-block">
                                    <h6 class="event-title">Payment completed</h6>
                                    <span class="event-time">Payment pending</span>
                                    <span class="event-party">Bank</span>
                                </div>
                                <div class="marker"></div>
                            </li> -->
                        </ul>
                        
                    </div>
                    
                </div>

            </div> 

        </div>
    </div>
</div>