<div class="page-container cgt-logistic">
  <div class="container">
      <h2 class="page-title">Delivery Details</h2>
      <form #myForm="ngForm">
      <div class="content-area">
          <div class="plain-block mrg-btm-30">
              <div class="border-box-wrapper">
                  <div class="border-box-table">
                      <div class="border-box-row">
                          <div class="border-box col-2">
                              <label class="label-field">Consignment No</label>
                              <span class="value-field">
                                  <input disabled [(ngModel)]="this.logisticTransaction.consignmentNumber" name="consignmentNumber" type="text" class="input-style">
                              </span>
                          </div>
                          <div class="border-box col-2">
                              <label class="label-field">Sales Order Number</label>
                              <span class="value-field">
                                <select class="input-style" [(ngModel)]="this.logisticTransaction.salesOrderRefNumber" (change)="changeSONumber()" name="salesOrderRefNumber" id="salesOrderRefNumber" required>
                                    <option *ngFor="let item of vendorSalesOrderList" [value]="item.salesOrderNumber">{{item.salesOrderNumber}}</option>
                                </select>
                              </span>
                          </div>
                          
                      </div>
                  </div>
                  <div class="border-box-table">
                      <div class="border-box-row">
                          <!-- <div class="border-box col-2">
                              <label class="label-field">Purchase Order ref No</label>
                              <span class="value-field">{{this.logisticTransaction.purchaseOrderRefNumber}}</span>
                          </div> -->
                          <div class="border-box col-2">
                              <label class="label-field">Supplier No</label>
                              <span class="value-field">{{this.logisticTransaction.supplierNumber}}</span>
                          </div>
                          
                      </div>
                  </div>

                  <div class="border-box-table">
                      <div class="border-box-row">
                          <div class="border-box col-2">
                              <label class="label-field">Ship to Party</label>
                              <span class="value-field">{{this.logisticTransaction.shipToParty}}</span>
                          </div>
                          <div class="border-box col-2">
                              <label class="label-field">Pickedup Time</label>
                              <span class="value-field">
                                <input type="text" placeholder="Date" [(ngModel)]="logisticTransaction.pickedupDatetime" name="pickedupDate" class="form-control date-picker-date date-input-small float-left" bsDatepicker required/>     
                                <ngb-timepicker [(ngModel)]="pickedupDatetime" name="pickedupDatetime" class="date-picker-time float-left" required></ngb-timepicker>
                              </span>
                          </div>
                          
                      </div>
                  </div>

                  <div class="border-box-table">
                      <div class="border-box-row">
                          <div class="border-box col-2">
                              <label class="label-field">Expected Delivery</label>
                              <span class="value-field">
                                <input type="text" placeholder="Date" [(ngModel)]="logisticTransaction.expectedDeliveryDatetime" name="expectedDeliveryDate" class="form-control date-picker-date date-input-small float-left" bsDatepicker required/>     
                                <ngb-timepicker [(ngModel)]="expectedDeliveryDatetime" name="expectedDeliveryDatetime" class="date-picker-time float-left" required></ngb-timepicker>
                              </span>
                          </div>
                          <div class="border-box col-2">
                              <label class="label-field">Actual Delivery</label>
                              <span class="value-field">
                                <input type="text" placeholder="Date" [(ngModel)]="logisticTransaction.actualDeliveryDatetime" name="actualDeliveryDate" class="form-control date-picker-date date-input-small float-left" bsDatepicker required/>     
                                <ngb-timepicker [(ngModel)]="actualDeliveryDatetime" name="actualDeliveryDatetime" class="date-picker-time float-left" required></ngb-timepicker>
                              </span>
                          </div>
                          
                      </div>
                  </div>

                  <div class="border-box-table">
                      <div class="border-box-row">
                          <div class="border-box col-2">
                              <label class="label-field">Hazardous material</label>
                              <span class="value-field">
                                  <select [(ngModel)]="logisticTransaction.hazardousMaterial" class="input-style" name ="hazardousMaterial" required>
                                      <option>Yes</option>
                                      <option>No</option>
                                  </select>
                              </span>
                          </div>
                          <div class="border-box col-2">
                              <label class="label-field">Packaging Instruction</label>
                              <span class="value-field">
                                  <textarea [(ngModel)]="logisticTransaction.packagingInstruction" name="packagingInstruction" class="input-style" required></textarea>
                              </span>
                          </div>
                        </div>
                          <div class="border-box-row">
                          <div class="border-box col-2">
                                <label class="label-field">Route</label>
                                <select [(ngModel)]="logisticTransaction.route" name="route" class="input-style" required>
                                    <option *ngFor="let item of commonData.routeList" [value]="item.code">{{item.description}}</option>
                                </select>
                        </div>
                        <div class="border-box col-2">
                                <label class="label-field">Vehicle</label>
                                <select [(ngModel)]="logisticTransaction.vehicleId" name="vehicleId" class="input-style" required>
                                    <option *ngFor="let item of commonData.vehicleList" [value]="item.registrationNumber">{{item.description}}</option>
                                </select>
                            </div>
                          
                      </div>
                  </div>

                  <div class="plain-block mrg-btm-30">
                    <h5 class="sub-title-sm">Material Details</h5>
                    <div class="border-box-wrapper">
                        <table class="table table-striped full-width">
                            <tr>
                                <th>Line Item Ref.</th>
                                <th>Product Name</th>
                                <th>Description</th>
                                <th>Quantity</th>
                                <th>Units</th>
                            </tr>
                            <tr *ngFor="let item of vendorSalesOrder.materialList; let i = index" [attr.data-index]="i">
                                <td>
                                  <span>{{item.materialId}}</span>
                                </td>
                                <td>
                                    <span>{{item.productName}}</span>
                                </td>
                                <td>
                                    <span>{{item.productDescription}}</span>
                                </td>
                                <td>
                                    <span>{{item.quantity}}</span> 
                                </td>
                                <td>
                                    <span>{{item.quantityUnit}}</span> 
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

              </div>
          </div>

          

          <div class="btn-area">
            <button type="submit" (click)="clearForm(myForm)" class="btn-border">Clear</button>            
            <button type="submit" [disabled]="!myForm.form.valid" (click)="saveLogisticTransaction(myForm);"  class="btn-normal">Submit</button>
            
          </div>

      </div>
      </form>
  </div>
</div>