<!--  ********************* Syngenta Buyer Login Page ******************** -->
<div *ngIf="this.navigateLoginPath == '/procurementLogin' || this.navigateLoginPath == '/'" class="login-wrapper cgt-buyer clearfix">
    <div class="login-box clearfix">
        <div class="bg-area">
        </div>
        <form (submit)="loginUser($event)">
            <div class="form-area">
                <img class="sgt-logo" src="assets/images/syngenta-logo.png">
                <h3>Sign In</h3>
                <input class="input-style-large username" type="text" placeholder="Username">
                <input class="input-style-large password" type="password" placeholder="Password">
                <button class="btn-block">Login</button>
            </div>
        </form>
    </div>
</div>

<!--  ********************* Vendor Login Page ******************** -->
<div *ngIf="this.navigateLoginPath == '/vendorLogin'" class="login-wrapper cgt-vendor clearfix">
    <div class="login-box clearfix">
        <div class="vendor-logo-holder">
            <span><img src="assets/images/vendor-logo.png"></span>
        </div>
        <div class="bg-area">
            <div class="welcome-text">
                <h1>Welcome!</h1>
                <h2>Happy <br>to see you <br>again..!</h2>
            </div>
            <div class="footer-bar">
                <p>© 2012-2018 Company Name. All Right Reserved.</p>
            </div>
        </div>
        <form (submit)="loginUser($event)">
            <div class="form-area">
                <div class="login-box-inner">
                    <h3>Sign in</h3>
                    <input class="input-style-large username" type="text" placeholder="Username">
                    <input class="input-style-large password" type="password" placeholder="Password">
                    <input type="submit" class="btn-inline" value="Login">
                </div>
            </div>
        </form>
    </div>
        
</div>

<!--  ********************* Syngenta Finance Login Page ******************** -->
<div *ngIf="this.navigateLoginPath == '/financeLogin'" class="login-wrapper cgt-finance clearfix">
        <div class="login-box clearfix">
            <div class="logo-area">
                <img src="assets/images/syngenta-logo-white.png">
            </div>
            
            <div class="form-area">
                <form (submit)="loginUser($event)">
                    <input class="input-style-large username" type="text" placeholder="Username">
                    <input class="input-style-large password" type="password" placeholder="Password">
                    <button class="btn-inline">Login</button>
                </form>
            </div>
            
        </div>
</div>

<!--  ********************* Logistic provider Login Page ******************** -->

<div *ngIf="this.navigateLoginPath == '/logisticLogin'" class="login-wrapper cgt-logistic clearfix">
    <div class="dot-overlay"></div>
    <div class="logo-area">
        <img src="assets/images/logistic-logo.png">
    </div>
    <div class="login-box clearfix">
        <form (submit)="loginUser($event)">
            <div class="form-area">
                <input class="input-style-large username" type="text" placeholder="Username">
                <input class="input-style-large password" type="password" placeholder="Password">
                <button class="btn-inline">Login</button>
            </div>
        </form>
    </div>
</div>

<!--  ********************* Bank provider Login Page ******************** -->

<div *ngIf="this.navigateLoginPath == '/bankLogin'" class="login-wrapper cgt-bank clearfix">
    <div class="dot-overlay"></div>
    <div class="logo-area">
        <img src="assets/images/bank-logo.png">
    </div>
    <div class="login-box clearfix">
        <form (submit)="loginUser($event)">
            <div class="form-area">
                <input class="input-style-large username" type="text" placeholder="Username">
                <input class="input-style-large password" type="password" placeholder="Password">
                <button class="btn-inline">Login</button>
            </div>
        </form>
    </div>
</div>